@use 'sass:map';
@use 'sass:color';

@mixin badge($name: '', $bg: #444, $color: white, $style: null) {
	.badge#{$name} {
		@if $style == 'pill' {
			border-radius: 30px !important;
			padding: 0.5em 0.8em !important;
		} @else {
			padding: 0.5em;
			border-radius: 5px;
		}

		border: 0;
		background: $bg;
		font-size: 0.8em;
		color: $color;
		margin: 0.1em;
		display: inline-block;
		cursor: pointer;
		transition: all 0.5s;

		&:hover {
			background: darken($bg, 20);
		}
	}
}

$badges: (
	'-primary': (
		RoyalBlue,
		#fff,
	),
	'-danger': (
		#ff0000,
		#fff,
	),
	'-info': (
		#17f6ee,
		#000,
	),
);

//this will create a class with default parameters
@include badge('');
@include badge('-pill', $style: 'pill');

@each $key, $values in $badges {
	@include badge($key, $values...);
}
