// Interpolation in SASS allows you to dynamically insert variables, expressions, or function results
// into selectors, property names, and values. It uses the #{} syntax.

@mixin btn1($name: '', $bg: #444, $color: #fff, $oval: false) {
	.btn1#{$name} {
		@if $oval {
			border-radius: 50%;
			border: 2px solid #0b053b;
		} @else {
			border-radius: 0;
			border: 0;
		}
		background-color: $bg;
		color: $color;
		padding: 10px;
		margin: 0.5em auto;
		display: inline-block;
		cursor: pointer;
		transition: all 0.5s;
	}
}

@include btn1;
@include btn1('-circle', #d9e70c, $color: #0c0c0c, $oval: true);
