$bg: #ead2a8;
$main-color:  #2d1f6d;
$grey: #686565;
$dark-grey: #312d2d;
$white: #fff;
$blue :#3ab5e9;
$violet:#c03ae9;
$sea: #126b6b;
// SASS variables allow you to use expressions, 
// which can include calculations, functions, and operations (e.g., $width: 100px * 2;).